.website {
	position: relative;
	// min-height: 100vh;
	background-color: $background;
	padding-top: calc(90px + 50px);
	padding-bottom: 50px;
	// background-image: url(../img/thetrimtab.png);
	// background-attachment: fixed;
}


// .section-gradient-grey {
// 	position: relative;
// 	background: linear-gradient(to bottom, rgba(#43474E,0) 0%,rgba(#43474E,1) 100%);
// 	width: 100%;
// 	height: 400px;
// }

	.website__title {
		text-align: center;
	}

	.website__info {
		// display: flex;
		// justify-content: space-between;
	}

		.website__image  {
			// max-width: 50%;
		}

		.website__details {
			margin-left: auto;
			position: relative;
			right: 0;
			padding-left: 30%;
			color: $text-white;

			.secondary-title {
				margin-bottom: 30px;
			}

			.btn i {
				margin-left: 5px;
			}
		}

			.website__details-list {
				list-style-type: none;
				padding-left: 0;
				display: flex;
				flex-wrap: wrap;
			}

				.website__details-item {
					// display: inline-block;
					margin-right: 10px;
					margin-bottom: 10px;
					background-color: $text-white;
					color: $text-black;
					padding: 5px 10px;
					border-radius: 5px;
				}


.website__description, .website__navigation {
	padding: 50px 0 50px;
}

.website__description {
	padding: 50px 100px;
	font-size: 26px;
	background-color: $text-white;

	p {
		margin-bottom: 40px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.website__navigation {
	background-color: $text-white;
}

	.navigation__buttons {
		display: flex;
		justify-content: space-between;
	}

	.navigation__button {
		font-size: 30px;

		a {
			display: flex;
			align-items: center;

			&:hover {
				text-decoration: none;
			}

			i {
				font-size: 60px;
				margin-right: 30px;
			}
		}

		&.next {
			a i {
				margin-right: 0;
				margin-left: 30px;
			}
		}

		&.disabled a {
			color: $text-black;
			opacity: 0.4;
			pointer-events: none;
		}
	}


.work-cta.project-page {
	background-color: white;
}

