.navbar {
	position: fixed;
	width: 100%;
	z-index: 20;
	transition: all 0.3s ease-in-out;

	&.bg-color {
		background-color: rgba(0, 0, 0, 0.4);
	}
}


.navbar-collapse .navbar-nav {
	align-items: flex-end;
}

.menu-item {
	font-size: 20px;
	text-transform: uppercase;
}